.settingPage {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.itemRange,
.itemBtn {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  background-color: var(--item-background-color);
  padding: 7px;
  border-radius: 10px;
  align-items: center;
  color: var(--black);
  height: 46px;
  margin-top: 15px;
}

.itemBtn button {
  min-width: 100px;
  padding: 7px 15px;
  border-width: 0px;
  border-radius: 7px;
  font-size: 16px;
}

.itemBtn input[type="checkbox"] {
  position: relative;
  width: 32px;
  height: 32px;
  border: 7px;
  margin-right: 10px;
}

.itemBtn input[type="checkbox"]::before {
  display: block;
  content: "";
  width: 96px;
  height: 28px;
  bottom: 0px;
  border-radius: 7px;
  right: -10px;
  position: absolute;
  border: 2px solid var(--trackColor);
  background-color: #ff0000;
  transition: background 0.3s ease-in-out 0.15s;
}

.itemBtn input[type="checkbox"]:checked:before {
  background-color: #00ff00;
}

.itemBtn input[type="checkbox"]::after {
  display: block;
  content: "";
  width: 32px;
  height: 28px;
  bottom: 0px;
  border-radius: 7px;
  left: -58px;
  position: absolute;
  border: 2px solid var(--trackColor);
  background-color: var(--trackColor);
  transition: transform 0.3s ease-in-out;
}

.itemBtn input[type="checkbox"]:checked::after {
  transform: translateX(64px);
}

.itemBtn input[type="text"],
.itemBtn input[type="number"] {
  width: 100px;
  padding: 7px;
  border-radius: 7px;
  border: none;
  font-size: 16px;
  background-color: var(--trackColor);
}

.itemRangeRangeCont {
  display: flex;
  align-items: center;
}

.itemRangeRangeCont p {
  font-size: 12px;
}

.itemRangeRangeCont input {
  width: 150px;
  margin: auto 5px;
}

.itemRangeRangeCont input {
  -webkit-appearance: none;
}

.itemRangeRangeCont input::-webkit-slider-runnable-track {
  height: 6px;
  background: var(--trackColor);
  border: none;
  border-radius: 2px;
}

.itemRangeRangeCont input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 22px;
  width: 10px;
  border-radius: 5px;
  background: var(--action-color);
  margin-top: -7px;
}

.itemRangeRangeCont input:focus {
  outline: none;
}
