.itemCont {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    padding-bottom: 180px;
}

.controlCont {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.controlCont > div:nth-child(1) select {
    padding: 10px;
    width: 95vw;
    border: 2px solid var(--black);
    border-radius: 10px;
    background: var(--bg);
    font-size: 16px;
    outline: none;
}

.controlCont > div:nth-child(2) form {
    width: 95vw;
    border: 2px solid var(--black);
    border-radius: 10px;
    background: var(--bg);
    outline: none;
    display: flex;
    overflow: hidden;
}

.controlCont > div:nth-child(2) form input {
    border: none;
    outline: none;
    font-size: 16px;
    width: calc(100% - 40px);
    padding: 10px;
}

.controlCont > div:nth-child(2) form button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    position: relative;
}

.controlCont > div:nth-child(2) form button::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 34px;
    background-color: var(--black);
    top: 3px;
    left: 0;
}

@media (min-width: 600px) {
    .itemCont {
        grid-template-columns: 1fr 1fr;
    }
    .controlCont {
        flex-direction: row;
    }
    .controlCont > div:nth-child(1) select {
        width: 200px;
    }
    .controlCont > div:nth-child(2) form {
        width: 250px;
    }
}

@media (min-width: 800px) {
    .itemCont {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .itemCont {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .itemCont {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1400px) {
    .itemCont {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}